@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
*{
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  font-family: 'Raleway', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --aqua: #00B2E0;
  --primary-color: #005166;
  --input-border: #dadada;
  --light-text: #aaaaaa;
  --body-color: #ffffff;
  --text-color: #131419;
  --summary-bg: #fafafa;
  --valid-input:#F2F6F7;
  --valid-input-border:#507A88;
  --error-input:#f8f6f6;
  --error-input-border:#D4A092;
  --error-text:#bb5033;
  --card-border-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--body-color);
  color: var(--text-color);
}

.App{
  width: 100%;
  max-width: 1200px;
  padding: 3rem 1.5rem;
}

.App-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1/span 1;
}


.btn, input{
  width: 100%;
  padding: 0.85rem 1.5rem;
  border-radius: 0.25rem;
  font-family: inherit;
  font-weight: 600;
}

.btn{
  background: var(--primary-color);
  border:  var(--primary-color);
  color: var(--body-color);
  cursor: pointer;
}

h3, label {
  color:var(--primary-color);
  font-weight: 700;
}

.logo{
  margin-bottom: 0.5rem;
}
.logo span{
  color: var(--light-text);
}

main{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  align-items: center;
}

@media screen and (max-width: 772px) {
  main{
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    align-items: center;
  }
  .App-header{
    order: 2;
  }
}

.sm-card__toggle{
  z-index: 1;
}

.card__form{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  grid-column: 1/span 1;
}

.form-group{
  display: flex;
  flex-direction: column;
  gap: 0.25rem
}

.form-group input{
  border: 0.5px solid var(--input-border);
  text-align: center;
  background: var(--body-color);
  color: var(--text-color);
}

.description{
  font-size: 0.75rem;
}

.form-group-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

@media screen and (max-width: 772px) {
  .form-group-grid{
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

.card__expiry-inputs{
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 0.25rem;
}

.card__expiry-inputs--divider{
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--light-text);
}

/*Card Number Component Styling*/
.form-group.card__number{
  position: relative;
}

.card__number--merchant-logo{
  position: absolute;
  top: 0.75rem;
  left: 1rem;
}
.card__number input{
  padding-left: 4rem;
  font-size: 1rem;
}

#card-number-error,#cvv-number-error{
  color: var(--error-text);
  font-size: 0.95rem;
  font-weight: 500;
  margin-top: 0.25rem;
}

/*=== END Card Number Component Styling===*/



@media screen and (max-width: 772px) {
  .s_card{
    height: 250px;
    width: 100%;
  }
}

.summary__list{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.card__summary{
  width: 100%;
  background:  var(--summary-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5rem;
}


.s_card{
  height: 250px;
  width: 200px;
  box-shadow: 2px 2px 20px rgba(99, 99, 99, 0.075);
  border: 1px solid var(--card-border-color);
  margin: 1.25rem  1.25rem;
  transform: translateY(-50px);
  border-radius: 0.25rem;
  padding: 1.5rem;
  background: var(--body-color);
  color: var(--primary-color);
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
}
@media screen and (max-width: 772px) {
  .s_card{
    transform: translateY(0px);
  }
}

.summary__list-wrapper{
  margin-bottom: 1.5rem;
}
.summary__list-wrapper, .summary__pay{
  width: 100%;
  padding: 0 2rem;
}

.summary__list, .summary__pay{
  font-size: 14px;
  font-weight: 600;
}

.summary__list--titles,.summary__list--values{
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
}

.summary__list--titles{
  color: var(--light-text);
}
.summary__list--values{
  justify-content: flex-end;
  align-items: flex-end;
  color: var(--primary-color);
}

.summary__pay{
  display:  flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.summary__pay-text{
  display:  flex;
  flex-direction: column;
  gap: 1rem;
}
.summary__pay-text{
  display:  flex;
  flex-direction: column;
  color: var(--light-text);
}
.summary__pay-text p span{
  color: var(--primary-color);
  font-size: 1rem;
}

.dashed__line--wrapper{
  width: 100%;
  padding: 0 2rem;
  margin-bottom: 1.5rem;
}
.dashed__line{
  border: 1px dashed var(--light-text);
  width: 100%;
}

.s_card--group{
  display: flex;
  justify-content: space-between;
  margin-top: 1.2rem;
  align-items: center;
}

input.valid{
  background-color: var(--valid-input);
  border: 1px solid var(--valid-input-border); 
}
input.error{
  background-color: var(--error-input);
  border: 1px solid var(--error-input-border);
}


.dots{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.15rem;
}
.dot{
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background: var(--primary-color);
  gap: 0.15rem;
}

.s_card__dts{
  display: flex;
  gap: 0.35rem;
  align-items: center;
  margin-top: 0.35rem;
}


/*=======================Custom Toggle====================*/


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    cursor: pointer;
}


/* Hide default HTML checkbox */

#cb {
    opacity: 0;
    width: 0;
    height: 0;
    display: none;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + label .slider{
    background-image: linear-gradient(to right, hsl(210deg, 78%, 56%), hsl(146deg, 68%, 55%));
}
input:checked + label .slider::before{
    background-color: #212121;
}

input:focus + label .slider{
    box-shadow: 0 0 1px hsl(146deg, 68%, 55%);
}

input:checked+label .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
    z-index: -1;
}

.slider.round:before {
    border-radius: 50%;
    z-index: -1;
}